<html>

<head>
    <title> ALGOTH </title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/JavaScript">
    function RefreshPage(Period)
    {
        setTimeout("location.reload(true);", Period);
    }
    </script>

    <style>
        body {
            background-color: #efeeed;
        }

        h3 {
            color: #1c84c6;
        }

        #main {
            width: 67%;
            font: 150% 'Lato';
            font-size: 1.5em;
            line-height: 1.2em;
            color: #373737;
            margin: 24px auto;
        }

        small {
            font-size: 0.67em;
            color: #999 !important;
        }

        .fa {
            color: grey;
        }
    </style>
</head>

<body onload="javaScript:RefreshPage(60000);">
    <div id='main'>
        <img src="http://asset-tym.s3.amazonaws.com/monitor-array.png">
        <h3>Algoth</h3>
        <p><small>{{ dt }}</small></p>

        <p>
            {% for a,b in queue.items()|sort %}
            <p><a href="/view/c/{{ b['color'].strip('#')|e }}"><i class="fa fa-shield fa-rotate-270"
               style="color: {{ b['color']|e }};"></i></a> &nbsp;
            <a href="/view/n/{{ b['nickname']|e}}"><strong>{{ b['nickname']|e }}</strong></a>: &nbsp; {{ b['status']|e }}
            <br><small>[{{ b['at']|e }} | {{ b['client_ip']|e }}]</small>
        </p> {% endfor %}
        </p>
    </div>
</body>

</html>
